# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Olası büyük dosyalar veya gizli dosyalar
.DS_Store
*.csv
!player_stats.csv
!tam_veri.csv
# Yukaridakilerin hepsi projede gerekli gibi duruyor, bu yüzden ! koyarak istisna yarattik, ama istenirse degistirilebilir.
