# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Olası büyük dosyalar veya gizli dosyalar
.DS_Store
*.csv
!player_stats.csv

# Machine Learning Veri Setleri
06_machine_learning/01_karar_agaclari/COVID/
06_machine_learning/01_karar_agaclari/non-COVID/
06_machine_learning/01_karar_agaclari/tam_veri.csv
